{{/* 
  helper to generate site menu resource
*/}}
{{ $result := dict }}{{/* start with an empty map */}}
{{ range . }}
  {{ $id := replace (lower .Name) " " "-" }}
  {{ $entry := dict "name"  .Name  "url" .URL }}
  {{ $kids := partial "buildMenu.html" .Children }}
  {{/* overkill, only add kinds to the dictionary if there are any */}}
  {{ if $kids }}
    {{ $entry = merge $entry (dict "kids" $kids) }}
  {{ end }}
  {{ $result = merge $result (dict $id $entry) -}}
{{ end }}
{{ return $result }}