<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
  {{ partial "cal/head.html" . }}
</head>

<body>

  <div id="all">

    <header>
      {{ partial "nav.html" . }}
    </header>

    <main>
        {{ partial "breadcrumbs.html" . }}

        <div id="content">
          <div class="container">

            <div class="row">

              <div class="col-md-12">

                <div>
                  {{ partial "cal/pp-header.html" . }}

                  {{ .Content }}
                </div>

                <!-- events grid -->
                <div id="fullcalendar"></div>

                <!-- only display on current year -->
                {{ if eq (.Param "year") 2024 }}
                  {{ partial "cal/pp-feed.html" . }}
                {{ end }}

                <!-- events list; don't display for old PP pages with static content -->
                {{ if ge (.Param "year") 2008 }}
                <div id="mustache-html" class="container"></div>
                {{ end }}

                <!-- only display on current year -->
                {{ if eq (.Param "year") 2024 }}
                  {{ partial "cal/promo-banner-main-cal.html" . }}

                  {{ partial "alert_banner.html" . }}
                {{ end }}

                {{ partial "disclaimer.html" . }}

              </div>

            </div>
            <!-- /.row -->

          </div>
          <!-- /.container -->
        </div>
        <!-- /#content -->
    </main>

    <footer>
      {{ partial "footer.html" . }}
    </footer>

  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}
  {{ partial "cal/scripts.html" . }}
  {{ partial "cal/events.html" . }}

  <script type="text/javascript">
    window.cal_renderpage = "{{ .Params.id }}";
    // TODO
  </script>

</body>
</html>
