# never commit the built site
site/public/
site/.hugo_build.lock
services/nginx/ssl/
shift.overrides
.idea/
!services/db/*
*.sql
!services/db/*.sql
!services/db/*/*.sql
services/db/tmp/*.sql
*.today
*.DS_Store
backend/eventimages/
secrets
services/php/shift-mail.log
services/node/shift-mail.log
app/node_modules/
# exclude all event images except the readme and test bike image.
app/eventimages/*
!app/eventimages/
!app/eventimages/README.md
!app/eventimages/bike.jpg
!app/eventimages/bike-big.png
!app/eventimages/bike-bad.tiff
bin/
node_modules/
/frontend/.vscode
package-lock.json
