# never commit the built site
site/public/
app/build/
app/node_modules/
services/nginx/ssl/
shift.overrides
.idea/
*.sql
!/services/db/*.sql
*.today
*.DS_Store
backend/eventimages/
secrets
/services/php/shift-mail.log