version: "2"

volumes:
  db: {}

services:
  nginx:
    image: nginx
    restart: always
    volumes:
      - ./site/public/:/var/www/site/
      - ./legacy/cal/:/var/www/site/cal/
      - ./backend/www/:/opt/backend/www/
      - "${EVENTIMAGES}:/opt/backend/eventimages"
      - ./services/nginx/:/opt/nginx/
      - ./services/nginx/conf.d:/etc/nginx/conf.d
      - ${LETSENCRYPT_WEBROOT}:/private/tmp/letsencrypt-auto
    links:
      - php
    ports:
      - "${NGINX_HTTPS_PORT}:443"
      - "${NGINX_HTTP_PORT}:80"
    entrypoint: /opt/nginx/entrypoint.sh
    command: ["nginx", "-g", "daemon off;"]

  db:
    restart: always
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD
      - MYSQL_HOST
    volumes:
      - db:/var/lib/mysql/
    ports:
      - 3306

  hugo:
    image: jojomi/hugo:0.37
    volumes:
      - ./site/:/src/
      - ./site/public/:/output/
    command: "hugo -v"

  php:
    build: ./services/php
    restart: always
    environment:
      - MYSQL_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD
      - MYSQL_HOST
      - SHIFT_DOMAIN
      - NGINX_HTTPS_PORT
      - SHIFT_EMAIL_LOG
      - SMTP_HOST
      - SMTP_USER
      - SMTP_PASS
      - SMTP_LOGIN
      - SMTP_DOMAIN
    links:
      - db
    volumes:
      - ./backend/:/opt/backend/
      - ./services/php/:/opt/php/
      - ./legacy/:/opt/backend/legacy
    entrypoint: /opt/php/entrypoint.sh
    command: php-fpm
