# ---------------------------------------
# production environment variables for smtp configuration
# the real file is on api.shift2bikes.org at `/opt/shift-docs/secrets`
# ( it contains some outdated unused vars; the ones here are the only ones needed. )
# see also: shift.overrides.production
# ---------------------------------------

export SMTP_HOST=
export SMTP_USER=
export SMTP_PASS=
