html, body {
  height: 100%;
  margin: 0px;
}
.c-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.c-top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
 }
.c-top__title {
 font-size: x-large;
 font-style: bold;
}
.c-top__image {
  max-height: 200px;
  width: auto;
  margin: 10px;
}
.c-toolbar {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.c-toolbar__menu {
  width: 50px;
  font-size: x-large;
}
.c-cal-body, .c-single {
  flex-grow: 1;
  overflow: auto;
  padding: 0px 1em;
}
.c-cal-body__loading::before {
  content: "⚙";
  position: absolute;
  font-size: 50px;
  animation: spin 4s linear infinite;
  margin: 20px;
}
@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
}

.c-day__division--start {
  margin-top: 2em;
  background-color: black;
  color: white;
}
.c-day__division--end {
  margin-bottom: 2em;
  background-color: black;
  color: white;
}

.c-shortcuts {
  display: flex;
  padding: 10px;
  justify-content: center;
  gap: 20px;
  border-top: solid;
  border-color: lightgray;
}
.c-shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-shortcut__link, .c-shortcut__button {
  font-size: x-large;
  /* make a circle */
  border-radius: 25px;
  border-width: 1px;
  border: none;
  width: 50px;
  height:50px;
  line-height: 50px;
  text-align: center;
  background: lightgray;
  text-decoration: none;
  cursor: pointer;
  :hover {
    background: darkgrey; 
  }
  :active {
    color: white;
  }
  :visited {
    color: darkslategray
  }
  color: darkslategray;
}
.c-toolbar__backlink {
  position: absolute;
  left: 1em;
}
.c-shortcut__label {
  /*font-size: small;
  font-family: ui-sans-serif, sans-serif;
  color:  darkslategray*/
  display: none;
}
.c-single {
  margin: 0 10px;
  padding-top: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.c-single__banner {
  max-height: 200px;
  width: auto;
  object-fit: contain;
}

.c-single__loc::before {
  content: " 📍 ";
  font-size: x-large;
}
.c-single__organizer::before {
  content: " 👤 ";
  font-size: x-large;
}
.c-single__time {
  box-shadow: 2px 2px 1px 1px black;
  padding: 0.5em;
  margin: 0.5em;
  border: solid black thin;
}
.c-event__value--organizer span {
  margin-left:10px;
}