:root {
  --max-width: 680px; /* for desktop */
  
  --orangey: #ffdd66;
  --brightend: #ff9819;
  --middleish: #ffc14d; /* can provide an accent to brightend */
  --darkend: goldenrod;
  --offwhite: #fcfaf2;

  --page-bg: white;
  --page-text: #555555;
  --accent-text: #630;
  --logo-color: black;

  --fixed-bg:  var(--offwhite); /* for the header and footer */
  --page-border: solid thin #ddd;
  --page-border-accent: solid thin darkgrey;
  --page-border-light: solid thin #eee;

  --orangey-border: solid thin var(--orangey);
  --brightend-border: solid thin var(--middleish);
 
  --hover-bg: var(--middleish);
  --link-text: #337ab7;
  --link-alt:#337ab7;
  --icon-color: var(--darkend); /* newflash, organizer, etc.  */
 
  --divider-bg:  var(--orangey);
  --divider-text: var(--accent-text);
 
  --feature-bg: var(--offwhite);
  --feature-text: var(--accent-text);
 
  --active-bg: var(--brightend);
  --active-text: white;                 /* menu/tool buttons */
  --disabled-text: lightgray;
  /* 
    note: each CalTag (audience,etc.) has an individualized color set 
    see CalTags.vue
  */
  --tag-bg: var(--page-bg); 
  --tag-text: var(--page-text);
}


/* if dark mode is detected, change the definitions to dark mode colors */
@media(prefers-color-scheme: dark) {
  :root {
    --page-bg: #232A33;
    --logo-color: var(--offwhite);
    --page-text: lightgray;
    --fixed-bg:   #202F38;

    --feature-bg: var(--page-bg);
    --feature-text: var(--brightend);
    
    --tag-bg: var(--fixed-bg); 
    --tag-text: var(--page-text);
    --link-text: rgb(73, 182, 224);
    --link-alt: #337ab7;
  }
}

html, body {
  /* allow dividers to cover the whole screen width */
  margin: 0px; 
}
html {
  scrollbar-width: none;
}
body {
  font-family: roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--page-text);
  background-color: var(--page-bg);
}
a {
  color: var(--link-text);
  text-decoration: none;
}
@media (hover: hover) {
  a:hover,
  a:focus {
    /* a little weird; but the regular link color
    needs good contrast against the page background,
    and so does the active, divider background */
    color: var(--active-bg);
    text-decoration: underline;
  }
}
/*
  the divider style appears on several different sub-pages
  so shared here. 
  based on '.date h2' in main.css 
*/
.c-divider {
  background-color: var(--divider-bg);
  color: var(--divider-text);
  border: 1px solid transparent;
  padding: 10px;
  margin: 5px 0;
  font-size: large;
  font-weight: bold;
}
.c-divider--center {
  text-align: center;
}
.c-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* ensure even with a small amount of content,
  the app view is "full screen" */
  min-height: 100vh;
  margin: auto;  
}