backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

# publish_mode: editorial_workflow

media_folder: "site/static/images/uploads" # Media files will be stored in the repo under site/static/images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads

collections:
  - name: "pages" # Used in routes, e.g., /admin/collections/pages
    label: "Pages" # Used in the UI
    folder: "site/content/pages/" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template: title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Page #", name: "weight", widget: number}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "playbooks" # Used in routes, e.g., /admin/collections/pages/playbooks
    label: "Playbooks" # Used in the UI
    folder: "site/content/pages/playbooks/" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template: title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Page #", name: "weight", widget: number}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "archive" # Used in routes, e.g., /admin/collections/archive
    label: "Archive" # Used in the UI
    folder: "site/content/archive/" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template: title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Page #", name: "weight", widget: number}
      - {label: "Body", name: "body", widget: "markdown"}
