/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

footer {
  text-align: center;
}

footer #footer-ul a {
  color: #ccc;
}

footer a {
  text-decoration: underline;
}

footer a:hover,
footer a:focus {
  text-decoration: none;
}

header {
  text-align: center;
}

#navbar .navbar-header {
  text-align: left;
}

#navbar svg.logo {
  fill: currentColor;
}

#navbar ul.nav > li > a {
  text-decoration: none;
}

main a {
  color: #337AB7;
  text-decoration: underline;
}

main a:hover,
main a:focus {
  color: #23527C;
  text-decoration: none;
}

main .donate {
  text-align: center;
}

main .donate a {
  background: #FD6;
  color: #630;
  border-radius: 12px;
  padding: 0.25em 1em;
  font-size: 16px;
}

@media (max-width: 991px) {
  .home-carousel h1 {
    font-size: 32px;
  }
}

.customers .item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.customers .item:focus-within {
  outline: 2px solid #337AB7;
  outline-offset: 2px;
}

.customers .item a:focus img {
  max-width: auto;
  filter: none;
  -webkit-filter: none;
}

/* see https://github.com/shift-org/shift-docs/issues/326 */
@media (-ms-high-contrast: active), (forced-colors: active) {
  svg.icon, svg.logo {
    -ms-high-contrast-adjust: auto;
    forced-color-adjust: auto;
  }
}

.lastmod {
  font-style: italic;
}
