/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

footer {
  text-align: center;
}

#footer ul a {
  color: #ccc;
}

header {
  text-align: center;
}

#navbar svg.logo {
    fill: currentColor;
}
