/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

footer {
  text-align: center;
}

#footer ul a {
  color: #ccc;
}

header {
  text-align: center;
}

#navbar .navbar-header {
  text-align: left;
}

#navbar svg.logo {
  fill: currentColor;
}

main a {
  color: #337AB7;
}

main a:hover, a:focus {
  color: #23527C;
}

main .donate {
  text-align: center;
}

main .donate a {
  background: #FD6;
  color: #630;
  border-radius: 12px;
  padding: 0.25em 1em;
  font-size: 16px;
}
