.c-top {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  
}
.c-top--title {
 font-size: x-large;
 font-style: bold;
}

.c-top--hamburger {
  width: 50px;
  height: 50px;
  color: orange;
  font-size: x-large;
  font-style: bold;
}