/*
Transparent borders have been added intentionally for accessibility in some places.
Typically they will not be visible.
But if someone is using a high contrast display mode, the border will appear.
*/

#mustache-html {
  padding-left: 0;
  padding-right: 0;
}


.scrollToTop {
  position:fixed;
  bottom:70px;
  right:50%;
  border-radius: 20px;
  margin-right: -20px;
  width:40px;
  height:40px;
  display: inline-block;
  background-color: #808080;
  text-align: center;
  z-index: 100;
  background-position: center;
   /* start invisible; the 'show' class fades in. */
  visibility: hidden;
  opacity: 0;
}

.scrollToTop::after {
  content: '';
  /* displays the bottom left corner of a box, and then rotates it. */
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 14px;
}

@media (hover: hover) {
  .scrollToTop:hover {
    /* uses the normalize.css link color */
    background-color: rgb(51, 119, 187);
    opacity: 1.0 !important;
  }
}

@media (hover: none) {
  /* where hover doesn't work, still give feedback for the click */
  .scrollToTop:active {
    background-color: rgb(51, 119, 187);
    opacity: 1.0 !important;
  }
}

/* added when fading in/out */
.scrollToTop.show {
  opacity: 0.6;
  visibility: visible;
  transition: 0.4s opacity;
}

svg.icon {
  width: 22px;
  height: 22px;
  margin-right: 4px;
  vertical-align: middle;
  fill: currentColor;
  stroke: currentColor;
  border: none;
  border-radius: 0;
}

.eventlink ul {
    padding: 0;
    list-style: none;
}
.eventlink ul li {
    display: inline-block;
    border-right: 1px solid #404040;
    padding-right: 5px;
}
.eventlink ul li:last-child {
    border-right: none;
}

.facebook-share a {
    color: #3C5A99;
    border: 1px solid #3C5A99;
    border-radius: 2px;
    width: auto;
    padding: 4px;
}
.facebook-share a:hover {
    text-decoration: none;
}
.facebook-share a:focus {
    text-decoration: none;
    color: white;
    background: #3C5A99;
}
.facebook-share img {
    height: 24px;
    width: 24px;
}

.date h2 {
    background-color: #fd6;
    color: #630;
    border: 1px solid transparent;
    float:left;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5em;
}

.events-list {
    padding: 0;
}

.event.row {
    list-style-type:none;
    font-size:1em;
    padding: 10px 0;
    margin-left: 0;
    margin-right: 0;
}

.event.row .summary h3 button {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding: 0;
    font-size: 1.75rem;
    font-weight: 500;
}

.event.featured {
    background-color: #FCFAF2;
    border: 1px solid #FFDD66;
}

#fullcalendar .fc-event {
    background-color: #337AB7;
    color: white;
    border-color: #337AB7;
}

#up-next #fullcalendar {
  width: 80%;
  margin: 1em auto;
}

#up-next > h2,
#up-next > p {
  text-align: center;
}

#up-next .newsflash {
  width: 80%;
  margin: 1em auto;
}

#up-next > p {
  margin-top: 1.5em;
}

#fullcalendar .fc-event.featured,
#fullcalendar .fc-list-item.featured {
    background-color: #630;
    color: #FCFAF2;
    border-color: #FCFAF2;
}

.event.featured .featured-text {
    text-align: center;
    font-weight: bold;
    color: #630;
    text-transform: uppercase;
}

.event.cancelled del,
.event.cancelled del * {
    text-decoration: line-through;
}
.event.cancelled ins
{
    text-decoration: none;
}
.event.cancelled h3 ins
{
    font-size: 1.4rem;
}

#fullcalendar .fc-event.cancelled {
    background-color: white;
    color: #337AB7;
}
#fullcalendar .fc-event.cancelled.pedalpalooza {
    background-color: white !important; /* gross, sorry */
    color: #D34212;
}
#fullcalendar .fc-event.cancelled .fc-title,
#fullcalendar .fc-list-item.cancelled .fc-list-item-title {
    text-decoration: line-through;
}

.cancelled-text {
    font-weight: normal;
    text-transform: uppercase;
    background: #D00000;
    color: white;
    padding: 2px 4px;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    width: auto;
}

.newsflash {
    color: #D00000;
    border: 1px dashed #D00000;
    border-radius: 2px;
    padding: 2px 4px;
    overflow-wrap: break-word;
}

#alert-banner {
    text-align: center;
    padding: 1em;
    margin: 1em auto;
    max-width: 980px;
}

#alert-banner p:last-child {
    margin-bottom: 0;
}

.location {
    overflow-wrap: break-word;
}

.col-xs-2 {
    width: 20%;
}

.col-xs-10 {
    width: 80%;
}

.col-xs-2, .col-xs-10 {
    padding-left: 5px;
    padding-right: 5px;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    color: #37b;
    margin-top: 10px;
}

.timedetails {
    text-align: right;
}

.time {
    text-align: right;
}

.time time {
    margin-top: 10px;
    display: inline-block;
}
.time .audience-F {
    background: #F2FCF2;
    color: #008000;
    padding: 2px 4px;
    border: 1px solid #008000;
    border-radius: 2px;
    display: inline-block;
    width: auto;
}
.time .audience-A {
    background: #FCF2F2;
    color: #D00000;
    padding: 2px 4px;
    border: 1px solid #D00000;
    border-radius: 2px;
    display: inline-block;
    width: auto;
}

.time .safety-plan {
    background: #FCFAF2;
    color: #663300;
    padding: 2px 4px;
    border: 1px solid #FFDD66;
    border-radius: 2px;
    display: inline-block;
    width: auto;
    margin: 0.25em 0;
}
.time .safety-plan a {
    color: #663300;
    text-decoration: underline;
}

.area {
    padding: 2px 4px 2px 0;
    display: inline-block;
    width: auto;
    margin: 0.25em 0;
}

.summary {
    padding-left: 10px;
    border-left: 1px solid grey;
}

.summary p {
    margin-bottom: 5px;
}

.event-details {
    color: rgb(64, 64, 64);
    overflow-wrap: break-word;
}

.btn {
    color: #37b;
    background: #efefef;
}

.btn:focus {
    outline: 2px solid #37b;
    outline-offset: 1px;
}

.mainDetails p {
    margin-top: 1em;
}

.mainDetails .description {
    white-space: pre-line;
}

.otherButtons a {
    text-decoration: none;
}

button.expand-details {
    user-select: text;
}

.eventImg img {
    float: right;
    width: 50%;
    height: auto;
}

.eventImg img.lazy {
    width: 40px;
    height: 40px;
}

#pedalpalooza-img {
    max-width: 438px;
    width: 100%;
    height: auto;
}

.pp-banner,
.promo-banner {
    text-align: center;
    color: #663300;
    background: #FCFAF2;
    border: 1px solid #FFDD66;
    padding: 1em;
    margin-bottom: 2em;
}

.pp-banner .promo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (width <= 600px) {
    .pp-banner .promo-wrapper {
        flex-direction: column;
    }
}

.pp-banner .pp-headline,
.promo-banner .pp-headline {
    font-weight: bold;
    font-size: 24px;
    color: #663300;
}

.pp-banner button[data-toggle-target] {
    border: none;
    background: none;
    color: #663300;
    margin-top: 16px;
}

#pp-description {
    text-align: left;
    max-width: 90%;
    margin: 0 auto;
}

#pp-description .donate p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pp-description .donate p > * {
    margin: 0 0.25rem;
}

.more-events {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    color: #630;
    background: none;
    border: 2px solid #630;
    border-radius: 4px;
}

.no-events {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #630;
}

.disclaimer {
  margin: 2em auto 1em auto;
  max-width: 75%;
  text-align: center;
  font-size: small;
  color: #707070;
}

[aria-expanded="false"] .icon.expand {
    transform: rotate(-90deg);
}

.show-details {
  display: inline-block;
  text-align: left;
}

.go-to-date {
  display: inline-block;
  text-align: right;
}

.event-list-options {
  display: flex;
  justify-content: space-between;
}

.error {
  padding: 1rem;
  text-align: center;
}
