<div id="alert-banner" class="newsflash">
  <div>
    <p><strong><a href="https://govstatus.egov.com/OR-OHA-COVID-19">Regarding the  COVID-19 pandemic</a>: The Oregon Health Authority is responding to an outbreak of respiratory illness, called COVID-19, caused by a novel (new) coronavirus. Health officials urge <a href="https://sharedsystems.dhsoha.state.or.us/DHSForms/Served/le2268.pdf">social distancing</a>, good hand hygiene, covering coughs, and staying home if you are sick. For additional information and resources, see the <a href="https://multco.us/novel-coronavirus-covid-19/novel-coronavirus-covid-19-faq">Multnomah County COVID-19 FAQ</a>.</strong></p>
    <p><strong>There is a statewide cancellation of gatherings of more than 25 people. Additionally, gatherings of more than 10 people are strongly discouraged (by health authorities and by Shift). Most events have been cancelled or postponed, even if they appear active here. Stay safe and stay home!</strong></p>  </div>
  </div>
</div>
