<div id="alert-banner" class="newsflash">
  <div>
    <p><strong>To stem the spread of COVID-19 in Oregon,  Oregon is taking a phased approach to reopen the state on a county by county basis. Multnomah County is currently in Phase 1, which provides <a href="https://sharedsystems.dhsoha.state.or.us/DHSForms/Served/le2351G.pdf">these limitations</a> upon gatherings. The maximum capacity for outdoor gatherings is currently 50 people and requires that participants maintain social distance of six feet.</strong></p>
    <p><strong>We strongly encourage everyone on a ride to wear a mask. Group bike rides are dynamic events and it can be difficult to maintain six feet of distance at all times. At minimum, we recommend you keep a mask/face covering around your neck that you can easily pull up when near other people.</strong></p>
    <p><strong>For more info on calendar updates, tips on riding safely in these times, and mobilizing bikes for the greater good, check out our <a href="/pages/public-health/">Public Health</a> and <a href="/pages/bike-for-justice/">Bike for Justice</a> pages. Stay safe, stay healthy!</strong></p>
  </div>
</div>
