<div id="alert-banner" class="newsflash">
  <div>
      <p><strong><a href="https://govstatus.egov.com/OR-OHA-COVID-19">Regarding the  COVID-19 pandemic</a>: The Oregon Health Authority is responding to an outbreak of respiratory illness, called COVID-19, caused by a novel (new) coronavirus. Health officials urge <a href="https://sharedsystems.dhsoha.state.or.us/DHSForms/Served/le2268.pdf">social distancing</a>, good hand hygiene, covering coughs, and staying home if you are sick. Group gatherings are strongly discouraged.</strong></p>
      <p><strong>Many events are being cancelled or postponed, even if they appear active here. We recommend contacting the event organizer for confirmation and further details.</strong></p>
  </div>
</div>
