<div class="container" id="contact">

    <div class="row">
        <div class="col-md-9">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "email" }}

                <div class="heading">
                  <!--<h3>{{ i18n "contactForm" }}</h3>-->
                </div>

                <div id="contact-message"></div>

                <h4> The content below is in beta mode and does not function yet. Please use this <a href="http://www.shift2bikes.org/contacts/"> contact form </a></h4>

                <hr>               
                <b> For anything else, select one of the groups below to send them an email. </b>

                <form class="contact-form">

                    <!--hidden fields to be submitted with form-->
                    <input type="hidden" name="BotKill" id="BotKill" value="">
                    <input type="hidden" name="CheckSum" id="CheckSum" value="">

                    <!--List of the various groups that can be emailed through this form-->
                    <div class="row">
                        <div class="col-sm-4">
                            <!--Information-->
                            <input type="radio" id="Info" name="sendto" value="info3@shift2bikes.org">
                            <label for="Info">Information</label><br>
                            <!--Breakfast on the Bridges-->
                            <!--<input type="radio" id="BonB" name="sendto" value="timolandia@gmail.com">-->
                            <!--<label for="BonB">Breakfast on the Bridges</label><br>-->
                            <!--Bicycle Fun Relations-->
                            <input type="radio" id="BikeFun" name="sendto" value="bikefun@shift2bikes.org">
                            <label for="BikeFun">Bicycle Fun Relations</label><br>
                            <!--Bike Safety-->
                            <input type="radio" id="Safety" name="sendto" value="safety@shift2bikes.org">
                            <label for="Safety">Bike Safety</label><br>
                            <!--Calendar Crew-->
                            <input type="radio" id="CalCrew" name="sendto" value="bikecal@shift2bikes.org">
                            <label for="CalCrew">Calendar Crew</label><br>
                            <!--Bike Bulletin-->
                            <input type="radio" id="BikeBull" name="sendto" value="bulletin@shift2bikes.org">
                            <label for="BikeBull">Bike Bulletin</label><br>
                        </div>
                        <div class="col-sm-4">
                            <!--Media Representative-->
                            <!--<input type="radio" id="MediaRep" name="sendto" value="gently@gmail.com">-->
                            <!--<label for="MediaRep">Media Representative</label><br>-->
                            <!--Accounting-->
                            <input type="radio" id="Finance" name="sendto" value="treasurer@shift2bikes.org">
                            <label for="Finance">Accounting</label><br>
                            <!--Move by Bike-->
                            <input type="radio" id="MoveXbike" name="sendto" value="movebybike@shift2bikes.org">
                            <label for="MoveXbike">Move by Bike</label><br>
                            <!--weBshift website-->
                            <input type="radio" id="WebTeam" name="sendto" value="webteam@shift2bikes.org">
                            <label for="WebTeam">weBshift website</label><br>
                            <!--Volunteer Coordinator-->
                            <input type="radio" id="VolunCoord" name="sendto" value="volunteer@shift2bikes.org">
                            <label for="VolunCoord">Volunteer Coordinator</label><br>
                            <!--Liaison to Umbrella -->
                            <!--<input type="radio" id="Umbrella" name="sendto" value="loriasills@gmail.com">-->
                            <!--<label for="Umbrella">Liaison to Umbrella</label><br>-->
                        </div>
                    </div><br><!--end of row-->

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="ContactName">{{ i18n "contactName" }}</label>
                                <input type="text" class="form-control" name="ContactName" id="ContactName" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="EmailContact">{{ i18n "contactMail" }}</label>
                                <input type="text" class="form-control" name="EmailContact" id="EmailContact" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="Message">{{ i18n "contactMessage" }}</label>
                                <textarea id="Message" class="form-control" name="Message" required></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                          <button type="submit" onclick="sendMail()" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>{{ i18n "contactSend" }}</button>
                        </div>
                </form>
                {{ end }}
            </section>
        </div>

        <div class="col-md-3">
            {{ if isset .Site.Params "address" }}
            <section>
              <!--<h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>-->
                {{ .Site.Params.address | safeHTML }}
            </section>
            {{ end }}
        </div>

    </div><!-- /.row -->

    <script src="/js/contact.js"></script>

</div>
