<div id="pp-banner">
  <a href="{{ .Param "poster-image" }}"><img alt="Pedalpalooza" id="pedalpalooza-img" src="{{ .Param "banner-image" }}"></a>
  <div>
    <span class="pp-headline">Pedalpalooza!</span>
    <span class="pp-daterange">{{ .Param "daterange"}}</span>
  </div>
  <button type="button" aria-expanded="true" class="expand-details" data-toggle-target="#pp-description">
    <svg class="icon expand" role="img" aria-hidden="true">
      <use xlink:href="#icon-arrow-down" />
    </svg>
    <span>About Pedalpalooza</span>
  </button>
  <div id="pp-description">
      <p><a href="/pages/pedalpalooza/">Pedalpalooza</a> is a month of bikey fun. With hundreds of different events, most organized by individuals, bikers of all persuasions are likely to find many events of interest. Nearly all events are free. </p>

      {{ if eq (.Param "year") 2019 }}
      <p><a href="/addevent/"><strong>Add your events for {{ .Param "year" }} now!</strong></a> Seeking inspiration? View the <a href="/archive/pedal-palooza-archives/">Pedalpalooza archives</a> of past bicycle fun events. If you need help creating or editing an event, <a href="mailto:bikecal@shift2bikes.org">contact the calendar crew</a>.</p>
      {{ end }}

      <div class="donate">
        <p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=BNL2NY7U8GH3Q" target="_blank" data-content="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=BNL2NY7U8GH3Q" data-type="external" role="button" id="comp-j2nmjo3ulink" class="style-j2nmcorulink"><span id="comp-j2nmjo3ulabel" class="style-j2nmcorulabel">Donate</span></a></p>
      </div>

  </div>
</div>
