<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
  <!-- legacycalpage/single.html -->

  <div id="all">
    <header>
      {{ partial "nav.html" . }}
    </header>

    <main>
        {{ partial "breadcrumbs.html" . }}

        <div id="content">
          <div class="container">

            <div class="row">

              <div class="col-md-12">

                <div>
                  {{ .Content }}
                </div>

                <div id="mustache-html" class="container"></div>

              </div>

            </div>
            <!-- /.row -->

          </div>
          <!-- /.container -->
        </div>
        <!-- /#content -->
    </main>

    <footer>

        {{ partial "footer.html" . }}

    </footer>

  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}
  {{ partial "scripts_legacycalpage.html" . }}

  <script type="text/javascript">
    window.legacycal_renderpage = "{{ .Params.id }}";
    console.log("window.legacycal_renderpage: ", window.legacycal_renderpage);

    window.legacycal_serviceurl = '{{ getenv "SHIFT_LEGACYCAL_SERVICEURL" }}' || "/fun/"; //should be something like: https://localhost:4443/fun
    console.log("window.legacycal_serviceurl: ", window.legacycal_serviceurl);

    console.log("legacycalpage/single.html - 2");
  </script>

</body>
</html>
