<!--{{ if .Site.Params.googleMapsApiKey }}-->
<!--<script src="//maps.googleapis.com/maps/api/js?key={{.Site.Params.googleMapsApiKey}}&v=3.exp"></script>-->
<!--{{ else }}-->
<!--<script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>-->
<!--{{ end }}-->

<!--Jquery-->
<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- owl carousel -->
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.owl-carousel').owlCarousel();
  });
</script>