{{ partial "cal/events.html" . }}

{{ $jsCalAddEvent := resources.Get "js/cal/addevent.js" | minify }}
<script src="{{ $jsCalAddEvent.Permalink }}"></script>
{{ $jsCalDatePicker := resources.Get "js/cal/datepicker.js" | minify }}
<script src="{{ $jsCalDatePicker.Permalink }}"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/mailcheck/1.1.2/mailcheck.min.js" integrity="sha512-xbDYG2aNoxRNdWVXnGkOBrCafX3GZ7+8lSfSOjkpvUmHLwZSFxrcX9aMXsBAbUeus18rxTCiAg5bj5v2EYQUJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="modal fade" tabindex="-1" id="cancel-modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Are you sure you want to cancel?</h4>
        <p>This event won't be saved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Back</button>
        <button type="button" id="confirm-cancel" data-dismiss="modal" class="btn btn-warning">Discard event</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="delete-modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Are you sure you want to delete this event?</h4>
        <p>The event will be permanently deleted. This can't be undone.</p>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn" data-dismiss="modal">Back</button>
        <button type="button" id="confirm-delete" data-dismiss="modal" class="btn btn-warning">Delete Event</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- for changes to events, including deletion success. -->
<div class="modal fade" tabindex="-1" id="success-modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p id="success-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" id="success-ok">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- for initial submit -->
<div class="modal fade" tabindex="-1" id="submit-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Event Submitted</h4>
        <p>A confirmation email has been sent to you at <span id="submit-email">example@example.com</span>.
        <p>You <em>must</em> use the link in the email to publish your event.
        <p>If you don't receive your confirmation within 20 minutes please contact <a href="mailto:bikecal@shift2bikes.org">bikecal@shift2bikes.org</a> for help.
        <p>Thanks!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" id="submit-ok">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script id="mustache-edit" type="text/template">

  [[^ id ]]<h1>Add Event</h1>[[/ id ]]
  [[# id ]]<h1>Edit Event</h1>[[/ id ]]

  [[# id ]]
  [[^ published ]]
  <!-- event has been created, but is not yet published -->
  <div class="unpublished-event">
    <p>Almost there! Publish the event to go live on the calendar.</p>
    <button type="button" class="publish-button btn btn-add-event">Publish</button>
  </div>
  [[/ published ]]
  [[/ id ]]

  <br>
  <form id="event-entry">
    <input type="hidden" name="id" id="id" value="[[id]]" />
    <input type="hidden" name="secret" id="secret" value="[[secret]]" />
    <div class="panel-group" id="event-fields">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#general-fields" aria-expanded="true">
              Event Description
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>

        <div id="general-fields" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label req-label" for="title">Event name</label>
              <input type="text" class="form-control" name="title" id="title" value="[[title]]" required="true" aria-invalid="false"/>
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="details">Details</label>
              <textarea class="form-control" name="details" id="details" required="true" aria-invalid="false" aria-describedby="details-help" rows="8">[[details]]</textarea>
              <p class="input-help" id="details-help">If there are fees, you <strong>must</strong> list them here. If you don't, people will assume the event is free.</p>
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="audience">Audience</label>
              <select name="audience" class="form-control" id="audience">
                [[# audienceOptions ]]
                <option value="[[code]]" [[# isSelected ]]selected[[/ isSelected ]]>[[text]]</option>
                [[/ audienceOptions ]]
              </select>
            </div>

            <div class="form-group">
              <div>
                <label class="control-label optional-label" for="safetyplan">
                  <input type="checkbox" name="safetyplan" id="safetyplan" value="1" [[# safetyplan ]]checked[[/ safetyplan ]] />
                  My ride follows the COVID safety plan
                </label>
                <p class="input-help">We need your help to keep bike fun safe for all! If you follow this <a href="/pages/public-health/#safety-plan" target="_blank" title="opens in a new window">COVID safety plan</a>, we'll put a special marker next to your ride on the calendar so people know what to expect.</p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="image">Image</label>

              <div class="image-form">
                <div class="image-display">
                  [[^ image]]
                  <img src="{{ absURL "img/cal/icons/image.svg" }}" alt="" class="event-image placeholder" />
                  [[/ image]]
                  [[# image]]
                  <a href="[[image]]" target="_blank" title="View full size in a new window">
                    <img src="[[image]]" alt="User-uploaded image" class="event-image" />
                  </a>
                  [[/ image]]
                </div>
                <div class="image-input">
                  [[^ id ]]
                  <input type="file" class="form-control" name="image" id="image" aria-describedby="image-help" disabled />
                  <p class="input-help" id="image-help">To add an image, save and confirm the event first.</p>
                  [[/ id ]]
                  [[# id ]]
                  <input type="file" class="form-control" name="image" id="image" aria-describedby="image-help" />
                  <p class="input-help" id="image-help">Images must be a JPG, PNG, or GIF file less than 5 <abbr title="megabytes">MB</abbr>.</p>
                  [[/ id ]]
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#dateandtime-fields" aria-expanded="true">
              Date and Time
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>
        <div id="dateandtime-fields" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="pp-banner">
              <a href="/pages/pedalpalooza/" target="_blank" title="opens in a new window">Bike Summer</a> returns for all of June, July, and August!
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="datestring">Date</label>
              <div id="date-select-container" class="date-select-container-style form-group">
                <table class="day-of-week">
                  <tr>
                    <td class="calendar-month-title"></td>
                    <td>Sun</td>
                    <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                    <td>Thu</td>
                    <td>Fri</td>
                    <td>Sat</td>
                  </tr>
                </table>
                <div id="date-select" class="date-select-style">
 									<table id="date-picker" class="date-picker-style">
                  </table>
                </div>
                <div id="date-picker-actions">
                  <div>
                    <button type="button" id="date-picker-prev-month" aria-label="Earlier">←</button> <button type="button" id="date-picker-next-month" aria-label="Later">→</button>
                  </div>
                  <div>
                    <button type="button" id="date-picker-today">Today</button>
                  </div>
                </div>
                <div id="date-selected-container">
                  Selected dates:
                  <ul id="date-selected"></ul>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="time">Time</label>
              <select name="time" class="form-control" id="time" aria-describedby="time-help">
                [[# timeOptions ]]
                <option value="[[value]]" [[# isSelected ]]selected[[/ isSelected ]]>[[time]]</option>
                [[/ timeOptions ]]
              </select>
              <p class="input-help" id="time-help">If your event has multiple times (for example, a "meet time" and a "ride time"), put the first time here. Describe the later times in the time details field, below.</p>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="timedetails">Time details</label>
              <input type="text" class="form-control" name="timedetails" id="timedetails" value="[[timedetails]]" aria-describedby="timedetails-help" />
              <p class="input-help" id="timedetails-help">More detail about your event's time, if needed. Try to keep it short. Example: "Meet at 5:00pm, ride at 5:30pm."</p>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="eventduration">Event duration, in minutes</label>
              <input type="text" class="form-control" name="eventduration" id="eventduration" value="[[eventduration]]" aria-describedby="eventduration-help" />
              <p class="input-help" id="eventduration-help">Help your riders understand the minimum proposed duration of your ride!</p>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#location-fields" aria-expanded="true">
              Location
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>
        <div id="location-fields" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="form-group">
              <label class="control-label" for="area">Area</label>
              <select name="area" class="form-control" id="area">
                [[# areaOptions ]]
                <option value="[[code]]" [[# isSelected ]]selected[[/ isSelected ]]>[[text]]</option>
                [[/ areaOptions ]]
              </select>
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="venue">Location name</label>
              <input type="text" class="form-control" name="venue" id="venue" value="[[venue]]" required="true" aria-invalid="false" />
            </div>
            <div class="form-group">
              <label class="control-label req-label" for="address">Address</label>
              <input type="text" class="form-control" name="address" id="address" value="[[address]]" required="true" aria-invalid="false" aria-describedby="address-help" />
              <p class="input-help" id="address-help">Provide either a street address or cross streets. This should be mappable by online maps such as Google Maps. If you haven't chosen a location yet, enter "TBA" for now.</p>
            </div>
            <div class="form-group">
              <label class="control-label optional-label" for="locdetails">Location details</label>
              <input type="text" class="form-control" name="locdetails" id="locdetails" value="[[locdetails]]" aria-describedby="locdetails-help" />
              <p class="input-help" id="locdetails-help">More detail about your event's start location, if needed. Example: "Meet near the clock tower."</p>
            </div>

            <div class="form-group">
              <div>
                <label class="control-label optional-label" for="loopride">
                  <input type="checkbox" name="loopride" id="loopride" value="1" [[# loopride ]]checked[[/ loopride ]] aria-describedby="loopride-help" />
                  Ride is a loop
                </label>
              <p class="input-help" id="loopride-help">Does your ride end at the same location where it began?</p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="locend">End location details</label>
              <input type="text" class="form-control" name="locend" id="locend" value="[[locend]]" aria-describedby="locend-help" />
              <p class="input-help" id="locend-help">Your event's end location, if known.</p>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="length">Length of route</label>
              <select name="length" class="form-control" id="length">
                [[# lengthOptions ]]
                <option value="[[code]]" [[# isSelected ]]selected[[/ isSelected ]]>[[text]]</option>
                [[/ lengthOptions ]]
              </select>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#contact-fields" aria-expanded="true">
              Contact Info
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>
        <div id="contact-fields" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label req-label" for="organizer">Organizer</label>
              <input type="text" class="form-control" name="organizer" id="organizer" value="[[organizer]]" required="true" aria-invalid="false" />
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="email">Email</label>
              <input type="text" class="form-control" name="email" id="email" value="[[email]]" autocomplete="email" aria-describedby="email-help email-suggestion" required="true" aria-invalid="false" />
              <p class="input-help" id="email-help">This must be a valid email address where we can reach you. A confirmation message will be mailed to this address.</p>
              <div id="email-suggestion" aria-live="polite"></div>

              <div>
                <label class="control-label" for="hideemail">
                  <input type="checkbox" name="hideemail" id="hideemail" value="1" [[^ id ]]checked[[/ id ]] [[# hideemail ]]checked[[/ hideemail ]] />
                  Don't publish my email address online
                </label>
              </div>
            </div>

            <div>Website for additional details</div>
            <div class="row">
              <div class="form-group col-xs-12 col-sm-6">
                <label class="control-label optional-label" for="webname">Website Name</label>
                <input type="text" class="form-control" name="webname" id="webname" value="[[webname]]" />
              </div>
              <div class="form-group col-xs-12 col-sm-6">
                <label class="control-label optional-label" for="weburl">URL</label>
                <input type="text" class="form-control" name="weburl" id="weburl" value="[[weburl]]" />
              </div>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="phone">Phone</label>
              <input type="text" class="form-control optional-label" name="phone" id="phone" value="[[phone]]" />

              <label class="control-label" for="hidephone">
                <input type="checkbox" name="hidephone" id="hidephone" value="1" [[# hidephone ]]checked[[/ hidephone ]] />
                Don't publish my phone number online
              </label>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="contact">Additional Contact Info</label>
              <input type="text" class="form-control" name="contact" id="contact" value="[[contact]]" aria-describedby="contact-help" />
              <p class="input-help" id="contact-help">This can be a name, an email address, another web URL, social media link, PO Box, or anything else!</p>

              <label class="control-label" for="hidecontact">
                <input type="checkbox" name="hidecontact" id="hidecontact" value="1" [[# hidecontact ]]checked[[/ hidecontact ]] />
                Don't publish additional contact information online
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Commented out here between March-June during Pedalpalooza season when these fields are required -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#print-fields" aria-expanded="true">
              Print Calendar Info
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>
        <div id="print-fields" class="panel-collapse collapse in">
          <div class="panel-body">
            <p class="input-help">The printed calendar has limited space for each event, so we must limit the amount of info for some fields. Be as brief as reasonably possible!</p>
            <p class="input-help">You must submit at least 3 weeks in advance of the print deadline. We can't guarantee that all submitted rides will be printed, sorry!</p>
            <div class="form-group">
              <label class="control-label optional-label" for="tinytitle">Print title (24 characters)</label>
              <input type="text" class="form-control" name="tinytitle" id="tinytitle" value="[[tinytitle]]" maxlength="24" />
            </div>
            <div class="form-group">
              <label class="control-label optional-label" for="printdescr">Print description (120 characters)</label>
              <textarea class="form-control" name="printdescr" id="printdescr" maxlength="120" rows="5" >[[printdescr]]</textarea>
            </div>

            <fieldset>
              <legend>Print contact info</legend>
              <div class="checkbox">
                <label class="control-label" for="printorganizer">
                  <input type="checkbox" name="printorganizer" id="printorganizer" value="1" checked disabled />
                  Organizer
                </label>
              </div>
              <div class="checkbox">
                <label class="control-label" for="printemail">
                  <input type="checkbox" name="printemail" id="printemail" value="1" [[# printemail ]]checked[[/ printemail ]] />
                  Email address
                </label>
              </div>
              <div class="checkbox">
                <label class="control-label" for="printphone">
                  <input type="checkbox" name="printphone" id="printphone" value="1" [[# printphone ]]checked[[/ printphone ]] />
                  Phone number
                </label>
              </div>
              <div class="checkbox">
                <label class="control-label" for="printweburl">
                  <input type="checkbox" name="printweburl" id="printweburl" value="1" [[# printweburl ]]checked[[/ printweburl ]] />
                  Web link
                </label>
              </div>
              <div class="checkbox">
                <label class="control-label" for="printcontact">
                  <input type="checkbox" name="printcontact" id="printcontact" value="1" [[# printcontact ]]checked[[/ printcontact ]] />
                  Additional contact info
                </label>
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      [[^ id ]]
      <!-- only show Terms section for initial submission -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#terms-fields" aria-expanded="true">
              Terms
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>
        <div id="terms-fields" class="panel-collapse collapse in">
          <div class="panel-body">
            <p class="input-help">Rides posted to the Shift calendar must abide by the <a href="/pages/shift-code-of-conduct/" target="_blank" title="opens in a new window">Code of Conduct</a>.</p>
            <div class="checkbox">
              <label class="control-label" for="code_of_conduct">
                <input type="checkbox" name="code_of_conduct" id="code_of_conduct" value="1" [[# codeOfConduct ]]checked[[/ codeOfConduct ]] />
                I agree to the Code of Conduct
              </label>
            </div>
            <p class="input-help">For tips on making your ride successful, we ask that you read the <a href="/images/rideleadingcomiccolor.jpg" target="_blank" title="opens in a new window">Ride Leading Comic</a> at least once before submitting an event.</p>
            <div class="checkbox">
              <label class="control-label" for="read_comic">
                <input type="checkbox" name="read_comic" id="read_comic" value="1" [[# readComic ]]checked[[/ readComic ]] />
                I have read the Ride Leading Comic
              </label>
            </div>

          </div>
        </div>
      </div>
      [[/ id ]]

      [[# id ]]
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#delete-event-fields" aria-expanded="true">
              Delete Event
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>

        <div id="delete-event-fields" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="form-group">
              <p class="input-help">If an event is no longer happening, we recommend <a href="#dateandtime-fields">cancelling</a> instead of deleting. Cancelling it gives you an opportunity to post a message to inform riders, like if it's been rescheduled to another date.</p>
              <p class="input-help">If this is a series of repeating events, <strong>this will delete the entire series</strong>.</p>
              <p class="input-help"><strong>Once an event is deleted, it can't be restored!</strong> If you're sure: </p>

              <button id="delete-button" type="button" class="btn btn-add-event" data-toggle="modal" data-target="#delete-modal">Delete</button>
            </div>
          </div>
        </div>

      </div>
      [[/ id ]]

    </div>
  </form>
  <div class="edit-buttons" >
      <button type="button" class="preview-edit-button btn btn-add-event" style="display: none;">Edit</button>
      <button type="button" class="preview-button btn btn-add-event">Preview</button>
      [[# id ]]
      <button type="button" class="save-button published-save-button btn btn-add-event" style="display: none;">Save</button>
      <button type="button" class="duplicate-button btn btn-add-event" style="display: none;">Duplicate</button>
      [[/ id ]]
      [[^ id ]]
      <button type="button" class="save-button btn btn-add-event">Save</button>
      <button type="button" class="cancel-button btn btn-add-event" data-toggle="modal" data-target="#cancel-modal">Discard</button>
      [[/ id ]]

      <span class="save-result"></span>
    </div>
</script>

<script id="mustache-select-month" type="text/template">
  [[#weeks]]
  <tr class="calendar-row">
    [[#monthTitle]]
    <td rowspan="[[weeksInMonth]]" class="calendar-month-title"><span>[[monthTitle]]</span></td>
    [[/monthTitle]]
    [[#days]]
    <td class="calendar-day [[classes]]" data-date="[[date]]" [[#today]]aria-current="date" title="today"[[/today]]>[[day]]</td>
    [[/days]]
  </tr>
  [[/weeks]]
</script>

<script id="mustache-datestatuses" type="text/template">
  [[# dateStatuses ]]
  <li data-id="[[ id ]]">
    <span>[[ date ]]</span>
    <select class="status-selector">,
      <option value="A" [[# scheduled ]]selected[[/ scheduled ]]>Scheduled</option>
      <option value="C" [[# cancelled ]]selected[[/ cancelled ]]>Cancelled</option>
    </select>
    <label>
      newsflash message (optional)
      <input type="text" class="newsflash" value="[[ newsflash ]]">
    </label>
  </li>
  [[/ dateStatuses ]]
</script>

<script id="email-suggestion-template" type="text/template">
  <button type="button" data-js-correction>Did you mean <span class="email-address">[[ suggestion ]]</span>?</button>
  <button type="button" data-js-dismiss><span class="glyphicon glyphicon-remove" role="img" aria-label="Dismiss"></span></button>
</script>
