<details id="view-options">
  <summary>View options</summary>
  {{ partial "cal/view-options.html" . }}

  <div class="event-list-options">
    <div class="show-details">
      <button type="button" id="show-details" class="btn">Toggle details</button>
    </div>
    <form class="search-events" action="/calendar/search/" method="GET">
      <label for="search-events-field" class="sr-only">Search events</label>
      <input type="text" name="q" id="search-events-field" placeholder="keywords">
      <button type="submit" class="btn">Search</button>
    </form>
    <form class="go-to-date" action="/calendar/" method="GET">
      <label for="go-to-date-field">Go to date</label>
      <input type="date" name="startdate" id="go-to-date-field" min="2008-01-01">
      <button type="submit" class="btn">Go</button>
    </form>
</details>

<script>
  // expand the view options section if:
  //   the screen is large; or
  //   the user has chosen a non-default option (e.g. entered a search query)
  let viewOptions = document.querySelector("details#view-options");
  let mql = window.matchMedia("(min-width: 992px)");
  let params = new URLSearchParams(location.search).size;

  if (mql.matches || params > 0) {
      viewOptions.open = true;
  }
</script>