<script src="{{ .Site.BaseURL }}legacycaljs/mustache_2_3_0.min.js"></script>
<script src="{{ .Site.BaseURL }}legacycaljs/moment.min.js"></script>
<script src="{{ .Site.BaseURL }}legacycaljs/helpers.js"></script>
<script src="{{ .Site.BaseURL }}legacycaljs/main.js"></script>

<script src="{{ .Site.BaseURL }}legacycaljs/fullcalendar/core/main.js"></script>
<script src="{{ .Site.BaseURL }}legacycaljs/fullcalendar/daygrid/main.js"></script>
<script src="{{ .Site.BaseURL }}legacycaljs/fullcalendar/timegrid/main.js"></script>

if ({{ .Param "pp" }}) {
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('fullcalendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'timeGrid' ],
        defaultView: 'dayGridMonth',
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        defaultDate: {{ .Param "startdate" }},
        validRange: {
          start: {{ .Param "startdate" }},
          end: {{ .Param "enddate" }}
        },
        nowIndicator: true,
        eventLimit: true,
        events: '{{ .Site.BaseURL }}api/events.php',
        startParam: 'startdate',
        endParam: 'enddate',
        eventSourceSuccess: function( content ) {
          // our API returns { "events": [ ] }
          // and this will return just the inner array as fullcalendar expects
          return content.events;
        },
        eventDataTransform: function( eventData ) {
          // this transforms the data for individual rides
          // into the format needed by fullcalendar
          var event = {
              id: eventData.caldaily_id,
              title: eventData.title,
              start: eventData.date + 'T' + eventData.time
          };
          if (eventData.cancelled == true) {
            event.classNames = [ 'cancelled' ];
          }
          if (eventData.featured == true) {
            event.classNames = [ 'featured' ];
          }
          return event;
        },
        eventClick: function ( info ) {
          // what happens when you click an event from the calendar grid
          window.open("/calendar/event-" + info.event.id, "_self");
        }
      });

        calendar.render();
    });
  </script>
}

<script type="text/javascript">
  //Mustache delimiter changing: https://stackoverflow.com/questions/13944623/escape-double-braces-in-mustache-template-templating-a-template-in-n
  Mustache.tags = ["[[", "]]"];

  $(document).ready(function() {
    var params = parseURL();
    if ('eventId' in params) {
      viewEvent(params['eventId']);
    } else if ('editId' in params) {
      var eventid = params["editId"];
      var secret = params["editSecret"];

      console.log("Loading viewAddEventForm with eventid: ", eventid, ", secret: ", secret);
      viewAddEventForm(eventid, secret);

    } else if (window.legacycal_renderpage == "addevent") {
      console.log("Loading viewAddEventForm for a new event")
      viewAddEventForm();

    } else {
      if ({{ .Param "pp" }}) {
        params["pp"] = {{ .Param "pp" }};
        params["startdate"] = {{ .Param "startdate" }};
        params["enddate"] = {{ .Param "enddate" }};
      }

      console.log("Rendering normal event list");
      viewEvents(params);

    }
  });


  function parseURL() {
    var urlParams = {};
    var parts = window.location.pathname.split('/');
    var lastPart = parts[parts.length-1];

    var singleEventRe = /event-([0-9]+)/g;
    var singleEvent = singleEventRe.exec(lastPart);
    if (singleEvent && singleEvent.length === 2) {
      urlParams['eventId'] = parseInt(singleEvent[1]);
    }

    var editEventRe = /edit-([0-9]+)-([0-9a-zA-Z]*)/g;
    var editEvent = editEventRe.exec(lastPart);
    if (editEvent && editEvent.length === 3) {
      urlParams['editId'] = parseInt(editEvent[1]);
      urlParams['editSecret'] = editEvent[2];
    }

    return urlParams;
  }

</script>

{{ partial "cal-icons.html" . }}

<script id="jump-to-date" type="text/template">
  <button type="button" aria-expanded="false" data-toggle-target="#date-select-container-pedalpalooza" class="jump-to-date">
    <span>Jump to date</span>
    <svg class="icon expand" role="img" aria-hidden="true">
      <use xlink:href="#icon-arrow-down" />
    </svg>
  </button>
  <div id="date-select-container-pedalpalooza" class="date-select-container-style jump-to-date form-group" hidden>
    <table class="day-of-week">
      <tbody><tr>
        <td class="calendar-month-title"></td>
        <td>Sun</td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
      </tr></tbody>
    </table>
    <div id="date-select-pp">
      <table id="date-picker-pedalpalooza" class="date-picker-style">
        <tr class="calendar-row">
          <td rowspan="3" class="calendar-month-title"><span>June 2018</span></td>
          <td class="calendar-day   color-jun"></td>
          <td class="calendar-day   color-jun-odd"></td>
          <td class="calendar-day   color-jun"></td>
          <td class="calendar-day   color-jun-odd"></td>
          <td class="calendar-day   color-jun"></td>
          <td class="calendar-day   color-jun-odd featured" data-date="2018-06-01" aria-describedby="pp-featured-day-label">1</td>
          <td class="calendar-day   color-jun" data-date="2018-06-02">2</td>
        </tr>
        <tr class="calendar-row">
          <td class="calendar-day   color-jun" data-date="2018-06-03">3</td>
          <td class="calendar-day   color-jun-odd" data-date="2018-06-04">4</td>
          <td class="calendar-day   color-jun featured" data-date='2018-06-05' aria-describedby="pp-featured-day-label">5</td>
          <td class="calendar-day   color-jun-odd" data-date="2018-06-06">6</td>
          <td class="calendar-day   color-jun" data-date="2018-06-07">7</td>
          <td class="calendar-day   color-jun-odd featured" data-date="2018-06-08" aria-describedby="pp-featured-day-label">8</td>
          <td class="calendar-day   color-jun featured" data-date="2018-06-09" aria-describedby="pp-featured-day-label">9</td>
        </tr>
        <tr class="calendar-row">
          <td class="calendar-day   color-jun" data-date="2018-06-10">10</td>
          <td class="calendar-day   color-jun-odd" data-date="2018-06-11">11</td>
          <td class="calendar-day   color-jun" data-date='2018-06-12'>12</td>
          <td class="calendar-day   color-jun-odd" data-date="2018-06-13">13</td>
          <td class="calendar-day   color-jun" data-date="2018-06-14">14</td>
          <td class="calendar-day   color-jun-odd featured" data-date="2018-06-15" aria-describedby="pp-featured-day-label">15</td>
          <td class="calendar-day   color-jun featured" data-date="2018-06-16" aria-describedby="pp-featured-day-label">16</td>
        </tr>
        <tr class="calendar-row">
          <td rowspan="2" class="calendar-month-title">&nbsp;</td>
          <td class="calendar-day   color-jun" data-date="2018-06-17">17</td>
          <td class="calendar-day   color-jun-odd" data-date="2018-06-18">18</td>
          <td class="calendar-day   color-jun" data-date="2018-06-19">19</td>
          <td class="calendar-day   color-jun-odd" data-date="2018-06-20">20</td>
          <td class="calendar-day   color-jun" data-date="2018-06-21">21</td>
          <td class="calendar-day   color-jun-odd" data-date="2018-06-22">22</td>
          <td class="calendar-day   color-jun featured" data-date="2018-06-23" aria-describedby="pp-featured-day-label">23</td>
        </tr>

        <tr class="calendar-row">
          <td class="calendar-day   color-jun featured" data-date="2018-06-24" aria-describedby="pp-featured-day-label">24</td>
          <td class="calendar-day   color-jun-odd" data-date="2018-06-25">25</td>
          <td class="calendar-day   color-jun" data-date="2018-06-26">26</td>
          <td class="calendar-day   color-jun-odd featured" data-date="2018-06-27" aria-describedby="pp-featured-day-label">27</td>
          <td class="calendar-day   color-jun" data-date="2018-06-28">28</td>
          <td class="calendar-day   color-jun-odd" data-date="2018-06-29">29</td>
          <td class="calendar-day   color-jun featured" data-date="2018-06-30" aria-describedby="pp-featured-day-label">30</td>
        </tr>
      </table>
    </div>
    <p class="legend" aria-hidden="true"><span class="example">★</span> = <span id="pp-featured-day-label">day with featured event</span></p>
  </div>
</script>

<script id="scrollToTop" type="text/template">
  <a href="#" class="scrollToTop">Back To Top</a>
</script>

<script id="view-events-template" type="text/template">

  [[#dates]]
  <div data-date="[[yyyymmdd]]" class="date[[#preview]] preview[[/preview]]">
    <h2>[[date]]</h2>
    <ul class="events-list">
      [[#events]]

      <li class="event row [[#cancelled]]cancelled[[/cancelled]] [[#featured]]featured[[/featured]]" data-event-id="[[id]]">
        [[#featured]]<p class="featured-text" id="featured[[caldaily_id]]"><span aria-hidden="true">★ </span>Featured Event<span aria-hidden="true"> ★</span></p>[[/featured]]
        <div class="time col-xs-2">
          [[#cancelled]]<del>[[/cancelled]]

          <p><time>[[displayStartTime]]</time></p>
          [[#audienceLabel]]
          <span class="audience-[[audience]]">[[audienceLabel]]</span>
          [[/audienceLabel]]

          [[#cancelled]]</del>[[/cancelled]]
        </div>
        <div class="col-xs-10" >
          <div class="summary">
            [[# featured ]]
            [[^ newsflash ]]
            <h3 aria-describedby="featured[[caldaily_id]]">
              [[/ newsflash ]]
              [[/ featured ]]

              [[^ featured ]]
              [[# newsflash ]]
              <h3 aria-describedby="newsflash[[caldaily_id]]">
                [[/ newsflash ]]
                [[/ featured ]]

                [[# featured ]]
                [[# newsflash ]]
                <h3 aria-describedby="featured[[caldaily_id]] newsflash[[caldaily_id]]">
                  [[/ newsflash ]]
                  [[/ featured ]]

                  [[^ featured ]]
                  [[^ newsflash ]]
                  <h3>
                    [[/ newsflash ]]
                    [[/ featured ]]

                    <button type="button" aria-expanded="[[^ expanded ]]false[[/ expanded ]][[# expanded ]]true[[/ expanded ]]" class="expand-details" data-toggle-target="#event-details-[[caldaily_id]]">
                      <svg class="icon expand" role="img" aria-hidden="true">
                        <use xlink:href="#icon-arrow-down" />
                      </svg>

                      [[#cancelled]]<del>[[/cancelled]]

                      [[title]]

                      [[#cancelled]]
                    </del> <ins><span class="cancelled-text">cancelled</span></ins>
                      [[/cancelled]]

                    </button>
                  </h3>

                  [[#newsflash]]
                  <ins><p class="newsflash" id="newsflash[[caldaily_id]]"><svg class="icon" role="img" aria-label="Update"><use xlink:href="#icon-newsflash" /></svg> [[newsflash]]</p></ins>
                  [[/newsflash]]

                  [[#cancelled]]<del>[[/cancelled]]

                  <div class="location">
                    [[#mapLink]]
                    <a href="[[mapLink]]" target="_blank">
                      <svg class="icon" role="img" aria-label="Location"><use xlink:href="#icon-location" /></svg>

                      [[/mapLink]]
                      [[^mapLink]]
                      <p>
                        [[/mapLink]]

                        [[venue]][[#address]][[#venue]], [[/venue]][[address]][[/address]]

                        [[^mapLink]]
                      </p>
                      [[/mapLink]]
                      [[#mapLink]]
                    </a>
                    [[/mapLink]]

                    [[#locdetails]]
                    <p>[[locdetails]]</p>
                    [[/locdetails]]
                  </div>
                  <p><svg class="icon" role="img" aria-label="Organizer"><use xlink:href="#icon-organizer" /></svg> [[organizer]]</p>

                  [[#cancelled]]</del>[[/cancelled]]

          </div>
        </div>

        <div class="col-xs-2">
        </div>
        <div class="event-details col-xs-10" id="event-details-[[caldaily_id]]" [[^ expanded ]]hidden[[/ expanded ]] >

        [[#cancelled]]<del>[[/cancelled]]

        <div class="mainDetails">
          <div class="eventImg">
            [[# image]]
            <img src="[[image]]" />
            [[/ image]]
          </div>

          <p><svg class="icon" role="img" aria-label="Time"><use xlink:href="#icon-time" /></svg> [[displayDate]], [[displayStartTime]][[#timedetails]], [[timedetails]][[/timedetails]]</p>
          [[#endtime]]
          <p><svg class="icon" role="img" aria-label="End time"><use xlink:href="#icon-endtime" /></svg> [[displayEndTime]]</p>
          [[/endtime]]

          <p class="description">[[details]]</p>

          [[#email]]
          <p class="contactInfo">
            <a href="mailto:[[email]]"><svg class="icon" role="img" aria-label="Email"><use xlink:href="#icon-email" /></svg> [[email]]</a>
          </p>
          [[/email]]

          [[#phone]]
          <p class="contactInfo">
            <a href="tel:[[phone]]"><svg class="icon" role="img" aria-label="Phone"><use xlink:href="#icon-phone" /></svg> [[phone]]</a>
          </p>
          [[/phone]]

          [[ #weburl ]]
          <p class="contactInfo">
            <a href="[[webLink]]" target="_blank" rel="noopener">
              <svg class="icon" role="img" aria-label="Website"><use xlink:href="#icon-website" /></svg>
              [[#webname]][[webname]][[/webname]]
              [[^webname]][[weburl]][[/webname]]
            </a>
          </p>
          [[ /weburl ]]

          [[#contact]]
          <p class="contactInfo">
            [[contact]]
          </p>
          [[/contact]]

          <div class="eventlink">
            <p class="facebook-share">
              <a href="https://www.facebook.com/sharer/sharer.php?u=[[shareable]]" target="_blank">
                <img src="{{ .Site.BaseURL }}legacycalimages/icons/facebook.svg" alt="Facebook"/>Share</a>
            </p>
            <ul>
              <li>
                <a
                  [[^preview]]
                      href="[[shareLink]]"
                  [[/preview]]
                  class="share-link">
                  Sharable link</a>
              </li>
              <li>
                <a
                  [[^preview]]
                      href="[[exportlink]]"
                  [[/preview]]
                  data-id="[[caldaily_id]]"
                  class="export-link">
                  Export to calendar</a>
              </li>
            </ul>
          </div>
          [[#preview]]
          <hr>
          <p>The following will show on the print calendar.</p>
          <ul>
            <li>title: [[tinytitle]]</li>
            <li>description: [[printdescr]]</li>
            <li>contact info:</li>
            <ul>
              <li>[[organizer]]</li>
              [[# printemail]]<li>[[email]]</li>[[/ printemail]]
              [[# printphone]]<li>[[phone]]</li>[[/ printphone]]
              [[# printweburl]]<li>[[weburl]]</li>[[/ printweburl]]
              [[# printcontact]]<li>[[contact]]</li>[[/ printcontact]]
            </ul>
            </li>
          </ul>
          [[/preview]]

          [[#cancelled]]</del>[[/cancelled]]
  </div>
  </li>
  [[/events]]
  </ul>
  </div>
  [[/dates]]
</script>

<script id="load-more-template" type="text/template">
  <button type="button" id="load-more" class="more-events">Show additional events</button>
</script>

<script id="show-all-template" type="text/template">
  <a id="show-all" class="more-events" href="/calendar/">Show all upcoming events</a>
</script>
