{{ $jsCalHelpers := resources.Get "js/cal/helpers.js" | minify }}
<script src="{{ $jsCalHelpers.Permalink }}"></script>
{{ $jsCalMain := resources.Get "js/cal/main.js" | minify }}
<script src="{{ $jsCalMain.Permalink }}"></script>

<script src="{{ .Site.BaseURL }}lib/mustache/mustache.min.js"></script>

{{ partial "cal/dayjs.html" . }}

<script src="{{ .Site.BaseURL }}lib/fullcalendar/core/main.min.js"></script>
<script src="{{ .Site.BaseURL }}lib/fullcalendar/daygrid/main.min.js"></script>
<script src="{{ .Site.BaseURL }}lib/fullcalendar/timegrid/main.min.js"></script>

<script type="text/javascript">
  //only show grid view for PP pages, 2008 or later
  if ({{ .Param "pp" }} && ( {{ .Param "year" }} >= 2008 ) ) {

    document.addEventListener('DOMContentLoaded', function() {
      // the values are pulled from the .md page file
      // all PP pages require start and enddates
      const today = dayjs().startOf('day');
      const range = { 
        start: dayjs( {{ .Params.startdate }} ),
        end : dayjs( {{ .Params.enddate }} ),
      };
      // use today as the initially focused day, if its within the range;
      // otherwise use the start of the range.
      const initialDate = (today >= range.start && today <= range.end) ?
                          today : range.start;  

      const calendarEl = document.getElementById('fullcalendar');
      const calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'timeGrid' ],
        defaultView: 'dayGridMonth',
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        defaultDate: initialDate.toDate(),
        validRange: {
          start: range.start.toDate(),
          // warning: fullcal enddate is exclusive.
          end: range.end.add(1, 'day').toDate(),
        },
        nowIndicator: true,
        eventLimit: true,
        navLinks: true,
        eventSources: [
          {
            url: '{{ .Site.BaseURL }}api/events.php',
            startParam: 'startdate',
            endParam: 'enddate',
            success: function( content ) {
              // our API returns { "events": [ ] }
              // and this will return just the inner array as fullcalendar expects
              return content.events;
            },
            eventDataTransform: function( eventData ) {
              // this transforms the data for individual rides
              // into the format needed by fullcalendar
              var event = {
                  id: eventData.caldaily_id,
                  title: (eventData.tinytitle ? eventData.tinytitle : eventData.title),
                  start: eventData.date + 'T' + eventData.time,
                  url: '/calendar/event-' + eventData.caldaily_id,
              };

              event.classNames = [];
              if (eventData.cancelled == true) {
                event.classNames.push('cancelled');
              }
              if (eventData.featured == true) {
                event.classNames.push('featured');
              }

              return event;
            },
          },
        ]
      });

      calendar.render();
    });

  }
</script>

{{ partial "cal/scripts.html" . }}

<script type="text/javascript">
  //Mustache delimiter changing: https://stackoverflow.com/questions/13944623/escape-double-braces-in-mustache-template-templating-a-template-in-n
  Mustache.tags = ["[[", "]]"];

  $(document).ready(function() {
    var params = parseURL();

    if ('eventId' in params) {
      // view single event
      viewEvent(params['eventId']);

    } else if ('editId' in params) {
      // edit specific event
      var eventid = params["editId"];
      var secret = params["editSecret"];
      viewAddEventForm(eventid, secret);

    } else if (window.cal_renderpage == "addevent") {
      // show blank form to add new event
      viewAddEventForm();
    } else {
      // view list of events
      if ({{ .Param "pp" }}) {
        params["pp"] = {{ .Param "pp" }};
        params["startdate"] = {{ .Param "startdate" }};
        params["enddate"] = {{ .Param "enddate" }};
      }

      viewEvents(params);
    }
  });
</script>

{{ partial "cal/icons.html" . }}

<script id="scrollToTop" type="text/template">
  <a href="#" class="scrollToTop">Back To Top</a>
</script>

<script id="view-events-template" type="text/template">
  [[#dates]]
  <div data-date="[[yyyymmdd]]" class="date[[#preview]] preview[[/preview]]">
    <h2>[[date]]</h2>

    <ul class="events-list">
      [[#events]]

      <li class="event row [[#cancelled]]cancelled[[/cancelled]] [[#featured]]featured[[/featured]]" data-event-id="[[id]]">
        [[#featured]]<p class="featured-text" id="featured[[caldaily_id]]"><span aria-hidden="true">★ </span>Featured Event<span aria-hidden="true"> ★</span></p>[[/featured]]
        <div class="time col-xs-2">
          [[#cancelled]]<del>[[/cancelled]]

          <p><time>[[displayStartTime]]</time></p>
          [[#audienceLabel]]
          <span class="audience-[[audience]]">[[audienceLabel]]</span>
          [[/audienceLabel]]
          [[#safetyplan]]
          <p class="safety-plan"><a href="/pages/public-health/#safety-plan" target="_blank" title="opens in a new window"><svg class="icon" role="img" aria-hidden="true"><use href="#icon-safety" /></svg>COVID Safety plan</a></p>
          [[/safetyplan]]

          [[#cancelled]]</del>[[/cancelled]]
        </div>
        <div class="col-xs-10" >
          <div class="summary">
            [[# featured ]]
            [[^ newsflash ]]
            <h3 aria-describedby="featured[[caldaily_id]]">
              [[/ newsflash ]]
              [[/ featured ]]

              [[^ featured ]]
              [[# newsflash ]]
              <h3 aria-describedby="newsflash[[caldaily_id]]">
                [[/ newsflash ]]
                [[/ featured ]]

                [[# featured ]]
                [[# newsflash ]]
                <h3 aria-describedby="featured[[caldaily_id]] newsflash[[caldaily_id]]">
                  [[/ newsflash ]]
                  [[/ featured ]]

                  [[^ featured ]]
                  [[^ newsflash ]]
                  <h3>
                    [[/ newsflash ]]
                    [[/ featured ]]

                    <button type="button" aria-expanded="[[^ expanded ]]false[[/ expanded ]][[# expanded ]]true[[/ expanded ]]" class="expand-details" data-toggle-target="#event-details-[[caldaily_id]]">
                      <svg class="icon expand" role="img" aria-hidden="true">
                        <use href="#icon-arrow-down" />
                      </svg>

                      [[#cancelled]]<del>[[/cancelled]]

                      [[title]]

                      [[#cancelled]]
                    </del> <ins><span class="cancelled-text">cancelled</span></ins>
                      [[/cancelled]]

                    </button>
                  </h3>

                  [[#newsflash]]
                  <ins><p class="newsflash" id="newsflash[[caldaily_id]]"><svg class="icon" role="img" aria-label="Update"><use href="#icon-newsflash" /><title>Update</title></svg> [[newsflash]]</p></ins>
                  [[/newsflash]]

                  [[#cancelled]]<del>[[/cancelled]]

                  <div class="location">
                    [[#areaLabel]]
                    <p class="area">
                      <svg class="icon" role="img" aria-label="Area"><use href="#icon-map" /><title>Area</title></svg>
                      [[areaLabel]]
                    </p>
                    [[/areaLabel]]
                    <p>
                      [[#mapLink]]
                      <a href="[[mapLink]]" target="_blank" rel="noopener nofollow external"  title="Opens in a new window">
                      [[/mapLink]]
                      <svg class="icon" role="img" aria-label="Location"><use href="#icon-location" /><title>Location</title></svg>

                      [[venue]][[#address]][[#venue]], [[/venue]][[address]][[/address]]

                      [[#mapLink]]
                      </a>
                      [[/mapLink]]
                    </p>

                    [[#locdetails]]
                    <p>[[locdetails]]</p>
                    [[/locdetails]]
                  </div>
                  <p><svg class="icon" role="img" aria-label="Organizer"><use href="#icon-organizer" /><title>Organizer</title></svg> [[organizer]]</p>

                  [[#cancelled]]</del>[[/cancelled]]

          </div>
        </div>

        <div class="col-xs-2">
        </div>
        <div class="event-details col-xs-10" id="event-details-[[caldaily_id]]" [[^ expanded ]]hidden[[/ expanded ]] >

        [[#cancelled]]<del>[[/cancelled]]

        <div class="mainDetails">
          <div class="eventImg">
            [[# image]]
            <a href="[[image]]">
              <img class="lazy" src="{{ .Site.BaseURL }}img/cal/icons/blank.svg" data-src="[[image]]" alt="User-uploaded image for [[title]]" />
            </a>
            [[/ image]]
          </div>

          <div>
            <p><svg class="icon" role="img" aria-label="Time"><use href="#icon-time" /><title>Time</title></svg> [[displayDate]], [[displayStartTime]]</p>

            [[#timedetails]]
            <p><svg class="icon" role="img" aria-label="Time details"><use href="#icon-newsflash" /><title>Time details</title></svg> [[timedetails]]</p>
            [[/timedetails]]

            [[#endtime]]
            <p><svg class="icon" role="img" aria-label="End time"><use href="#icon-endtime" /><title>End time</title></svg> [[displayEndTime]]</p>
            [[/endtime]]

            [[#loopride]]
            <p><svg class="icon" role="img" aria-label="Loop"><use href="#icon-loop" /><title>Loop</title></svg> Ride is a loop</p>
            [[/loopride]]

            [[#locend]]
            <p><svg class="icon" role="img" aria-label="End location"><use href="#icon-endlocation" /><title>End location</title></svg> End location: [[locend]]</p>
            [[/locend]]
          </div>

          <p class="description">[[details]]</p>

          [[#email]]
          <p class="contactInfo">
            <a href="mailto:[[email]]"><svg class="icon" role="img" aria-label="Email"><use href="#icon-email" /><title>Email</title></svg> [[email]]</a>
          </p>
          [[/email]]

          [[#phone]]
          <p class="contactInfo">
            <a href="tel:[[phone]]"><svg class="icon" role="img" aria-label="Phone"><use href="#icon-phone" /><title>Phone</title></svg> [[phone]]</a>
          </p>
          [[/phone]]

          [[ #weburl ]]
          <p class="contactInfo">
            <a href="[[webLink]]" target="_blank" rel="noopener nofollow external" title="Opens in a new window">
              <svg class="icon" role="img" aria-label="Website"><use href="#icon-website" /><title>Website</title></svg>
              [[#webname]][[webname]][[/webname]]
              [[^webname]][[weburl]][[/webname]]
            </a>
          </p>
          [[ /weburl ]]

          [[#contact]]

          [[#contactLink]]
          <p class="contactInfo">
            <a href="[[contactLink]]" target="_blank" rel="noopener nofollow external" title="Opens in a new window">
              <svg class="icon" role="img" aria-label="Additional contact info"><use href="#icon-website" /><title>Additional contact info</title></svg>
              [[contact]]
            </a>
          </p>
          [[/contactLink]]

          [[^contactLink]]
          <p class="contactInfo">
            [[contact]]
          </p>
          [[/contactLink]]

          [[/contact]]

          <div class="eventlink">
            <p class="facebook-share">
              <a href="https://www.facebook.com/sharer/sharer.php?u=[[shareable]]" target="_blank">
                <img src="{{ .Site.BaseURL }}img/cal/icons/facebook.svg" alt="Facebook"/>Share</a>
            </p>
            <ul>
              <li>
                <a
                  [[^preview]]
                      href="[[shareLink]]"
                  [[/preview]]
                  class="share-link"
                  rel="bookmark">
                  Sharable link</a>
              </li>
              <li>
                <a
                  [[^preview]]
                      href="[[exportlink]]"
                  [[/preview]]
                  data-id="[[caldaily_id]]"
                  class="export-link">
                  Export to calendar</a>
              </li>
            </ul>
          </div>
          [[#preview]]
          <hr>
          <p>The following will show on the print calendar.</p>
          <ul>
            <li>title: [[tinytitle]]</li>
            <li>description: [[printdescr]]</li>
            <li>contact info:
              <ul>
                <li>[[organizer]]</li>
                [[# printpreviewemail]]<li>[[printpreviewemail]]</li>[[/ printpreviewemail]]
                [[# printpreviewphone]]<li>[[printpreviewphone]]</li>[[/ printpreviewphone]]
                [[# printpreviewweburl]]<li>[[printpreviewweburl]]</li>[[/ printpreviewweburl]]
                [[# printpreviewcontact]]<li>[[printpreviewcontact]]</li>[[/ printpreviewcontact]]
              </ul>
            </li>
          </ul>
          [[/preview]]

          [[#cancelled]]</del>[[/cancelled]]
  </div>
  </li>
  [[/events]]
  </ul>
  </div>
  [[/dates]]
  [[^dates]]
  <p class="no-events">No matching events</p>
  [[/dates]]
</script>

<script id="load-more-template" type="text/template">
  <button type="button" id="load-more" class="more-events">Show additional events</button>
</script>

<script id="show-all-template" type="text/template">
  <a id="show-all" href="/calendar/">Show all upcoming events</a>
</script>

<script id="view-as-options" type="text/template">
  {{ partial "cal/view-options.html" . }}
</script>

<script id="alert-banner-template" type="text/template">
  {{ partial "alert_banner.html" . }}
</script>

<script id="event-list-options-template" type="text/template">
  <div class="event-list-options">
    <div class="show-details">
      <button type="button" id="show-details" class="btn">Toggle details</button>
    </div>
    <form class="go-to-date" action="/calendar/" method="GET">
      <label for="go-to-date-field">Go to date</label>
      <input type="date" name="startdate" id="go-to-date-field" min="2008-01-01">
      <button type="submit" class="btn">Go</button>
    </form>
  </div>
</script>
