<!-- styles for calendar pages; also needed on homepage for "up next" widget -->
{{ $cssCalMain := resources.Get "css/cal/main.css" | minify }}
<link rel="stylesheet" href="{{ $cssCalMain.Permalink }}">

<!-- only load FullCal grid view styles on calendar grid and festival pages; not needed on list or edit pages -->
{{ if or (eq .Type "calgrid") (eq .Type "calfestival") (eq .Type "pp-theme-cal") }}
<link rel="stylesheet" type="text/css" href="/lib/fullcalendar/core/main.min.css">
<link rel="stylesheet" type="text/css" href="/lib/fullcalendar/daygrid/main.min.css">
<link rel="stylesheet" type="text/css" href="/lib/fullcalendar/timegrid/main.min.css">
{{ end }}

<!-- only load FullCal list view styles on homepage for "up next" widget and festival cal page -->
{{ if or (eq .Type "homepage") (eq .Type "pp-theme-cal") }}
<link rel="stylesheet" type="text/css" href="/lib/fullcalendar/core/main.min.css"/>
<link rel="stylesheet" type="text/css" href="/lib/fullcalendar/list/main.min.css"/>
{{ end }}
