<script src="{{ .Site.BaseURL }}js/libs/fullcalendar/core/main.min.js"></script>
<script src="{{ .Site.BaseURL }}js/libs/fullcalendar/daygrid/main.min.js"></script>
<script src="{{ .Site.BaseURL }}js/libs/fullcalendar/timegrid/main.min.js"></script>
<script src="{{ .Site.BaseURL }}js/libs/fullcalendar/list/main.min.js"></script>

{{ partial "cal/pp-2020-themes.html" . }}

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('fullcalendar');
    const range = {
      // warning: fullcal dates are exclusive.
      start : {{ .Params.startdate }},
      end : function() {
        const d = new Date( {{ .Params.enddate }} );
        d.setDate( d.getDate() + 1);
        return d;
      }(), 
    };
  
    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'dayGrid', 'timeGrid', 'list' ],
      defaultView: 'dayGridSixWeeks',
      contentHeight: 'auto',
      views: {
        dayGridSixWeeks: {
          type: 'dayGridMonth',
          duration: { weeks: 6 },
          buttonText: 'month'
        },
        listDaySixWeeks: {
          type: 'listDay',
          duration: { weeks: 6 },
          buttonText: 'list'
        }
      },
      listDayFormat: {
        month: 'short',
        year: 'numeric',
        day: 'numeric',
        weekday: 'short'
      },
      buttonText: {
        // dayGridSixWeeks defined in view, above
        // listDaySixWeeks defined in view, above
        listDay: 'day'
      },
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridSixWeeks,listDaySixWeeks,listDay'
      },
      noEventsMessage: "Open day — submit a theme at Pedalpalooza.org!",
      defaultDate: range.start,
      validRange: range,
      nowIndicator: true,
      eventLimit: true,
      navLinks: true,
      eventSources: [
        {
          events: ppThemesData, // from pp-2020-themes.html
          allDayDefault: true,
          color: "#D34212",
          eventDataTransform: function( eventData ) {
            var event = {
                title: eventData.title,
                start: eventData.start,
                url: eventData.url
            };

            event.classNames = ["pedalpalooza"];
            if (eventData.cancelled == true) {
              event.classNames.push('cancelled');
            }

            return event;
          },
        }
      ]
    });
  
    calendar.render();
  });
</script>

<div id="fullcalendar"></div>

<!-- <p style="text-align: center; margin-top: 1.5em;">Got an idea? <a href="https://forms.gle/YdwYqnS2KAhCiC1Y8">Share a route!</a></p> -->
