<script type="text/javascript">
var ppThemesData = [
  {
    title: 'Food by Bike',
    start: '2020-06-01',
    url: 'https://www.pedalpalooza.org/post/food-by-bike-day-june-1st-2020',
  },
  {
    title: 'Art Friday',
    start: '2020-06-05',
  },
  {
    title: 'Mystery Day',
    start: '2020-06-12',
  },
  {
    title: 'For the Birds',
    start: '2020-06-14',
  },
  {
    title: 'Rainbow Day',
    start: '2020-06-18',
  },
  {
    title: 'Loud n Lit',
    start: '2020-06-19',
  },
  {
    title: 'Ride Naked',
    start: '2020-06-27',
    url: 'https://pdxwnbr.org/'
  },
  {
    title: 'Stars & Stripes',
    start: '2020-07-04',
  },
]
</script>
