<script type="text/javascript">
var ppThemesData = [
  {
    title: 'Bike Picnic',
    start: '2020-06-01',
    url: 'https://www.pedalpalooza.org/post/food-by-bike-day-june-1st-2020',
  },
  {
    title: 'Two Wheels Good',
    start: '2020-06-02',
    url: 'https://www.pedalpalooza.org/post/two-wheels-good-june-2nd-2020',
  },
  {
    title: 'Art Thursday',
    start: '2020-06-04',
  },
  {
    title: 'Space is the Place',
    start: '2020-06-05',
    url: 'https://www.pedalpalooza.org/post/space-is-the-place-june-5th-2020',
  },
  {
    title: 'Grand Petite Parade',
    start: '2020-06-06',
    url: 'https://www.paradinginplace.com/grand-petite-parade',
  },
  {
    title: 'Idols on Wheels',
    start: '2020-06-07',
  },
  {
    title: 'World Oceans Day',
    start: '2020-06-08',
    url: 'https://www.pedalpalooza.org/post/world-oceans-day-8th-2020',
  },
  {
    title: 'Analog Day',
    start: '2020-06-10',
    url: 'https://www.pedalpalooza.org/post/analog-day-june-10th-2020',
  },
  {
    title: 'Animal Day',
    start: '2020-06-11',
  },
  {
    title: 'Mystery Ride',
    start: '2020-06-12',
    url: 'https://www.pedalpalooza.org/post/mystery-ride-june-12th-2020',
  },
  {
    title: 'Halloween in June',
    start: '2020-06-13',
    url: 'https://www.pedalpalooza.org/post/mystery-ride-june-12th-2020',
  },
  {
    title: 'For the Birds',
    start: '2020-06-14',
    url: 'https://www.pedalpalooza.org/post/for-the-birds-june-14th-2020',
  },
  {
    title: 'Skateapalooza',
    start: '2020-06-16',
  },
  {
    title: 'Let Them Eat Cake',
    start: '2020-06-17',
    url: 'https://www.pedalpalooza.org/post/let-them-eat-cake-june-17th-2020',
  },
  {
    title: 'Rainbow Day',
    start: '2020-06-18',
    url: 'https://www.pedalpalooza.org/post/rainbow-day-june-18th-2020',
  },
  {
    title: 'Loud n Lit',
    start: '2020-06-19',
  },
  {
    title: 'Solstice!',
    start: '2020-06-20',
    url: 'https://www.pedalpalooza.org/post/solstice-june-20th-2020',
  },
  {
    title: 'Scavenger Hunt',
    start: '2020-06-21',
    url: 'https://www.pedalpalooza.org/post/scavenger-hunt-june-21st-2020',
  },
  {
    title: 'Bikes Mean Business',
    start: '2020-06-23',
    url: 'https://www.pedalpalooza.org/post/bikes-mean-business-june-23rd-2020',
  },
  {
    title: 'Architecture Day',
    start: '2020-06-24',
    url: 'https://www.pedalpalooza.org/post/architecture-design-june-24th-2020',
  },
  {
    title: 'Superhero Day',
    start: '2020-06-26',
    url: 'https://www.pedalpalooza.org/post/superhero-day-june-26th-2020',
  },
  {
    title: 'Ride Naked',
    start: '2020-06-27',
    url: 'https://pdxwnbr.org/',
  },
  {
    title: 'Sunday Parkways',
    start: '2020-06-28',
    url: 'https://www.portlandoregon.gov/transportation/58929',
  },
  {
    title: 'Tree Day',
    start: '2020-06-29',
    url: 'https://www.pedalpalooza.org/post/hug-a-tree-june-29th-2020',
  },
  {
    title: 'History Day',
    start: '2020-07-01',
    url: 'https://www.pedalpalooza.org/post/historic-portland-july-1st-2020',
  },
  {
    title: 'Stars & Stripes',
    start: '2020-07-04',
    url: 'https://www.pedalpalooza.org/post/stars-stripes-july-4th-2020',
  },
  {
    title: 'Bike Fair',
    start: '2020-07-05',
  },
]
</script>
