<div id="pp-calendar-feed" class="pp-banner" style="text-align: center; padding-top: 1rem; margin-top: 1rem;">
  <p>Want to see rides using your computer or phone's calendar app?</p>
  <p><button type="button" id="feed-sub" class="btn" data-url="webcal://www.shift2bikes.org/cal/pedalpalooza-calendar.php">Subscribe to the calendar feed</button></p>
  <p>If that doesn't open your calendar app, see <a href="/pages/calendar-faq/#subscribing-to-the-calendar">other ways to subscribe to the calendar feed</a>.</p>
</div>
