<div class="pp-banner">
  <a href="{{ .Param "poster-image" }}"><img alt="Pedalpalooza" id="pedalpalooza-img" src="{{ .Param "banner-image" }}"></a>
  <div>
    <span class="pp-headline">Pedalpalooza!</span>
    <span class="pp-daterange">{{ .Param "daterange" }}</span>
  </div>
  <button type="button" aria-expanded="true" class="expand-details" data-toggle-target="#pp-description">
    <svg class="icon expand" role="img" aria-hidden="true">
      <use xlink:href="#icon-arrow-down" />
    </svg>
    <span>About Pedalpalooza</span>
  </button>
  <div id="pp-description">
      <p><a href="/pages/pedalpalooza/">Pedalpalooza</a> is a festival of bikey fun. Hundreds of different events are organized by people like you. Most rides are free and all are open to the public to join.</p>

      {{ if or (eq (.Param "year") 2021) (eq (.Param "year") 2022) }}
      <p>Bike Summer will be <strong>three whole months</strong> of fun on two wheels. 
<!--

      {{ if eq (.Param "year") 2022 }}<a href="/addevent/"><strong>Add your events for June, July, and August {{ .Param "year" }} now!</strong></a>{{ end }} 

-->
      Seeking inspiration? View the <a href="/archive/pedal-palooza-archives/">Pedalpalooza archives</a> of past bicycle fun events. If you need help creating or editing an event, check out the <a href="/pages/calendar-faq/">calendar FAQ</a> or <a href="mailto:bikecal@shift2bikes.org">contact the calendar crew</a>.</p>

<p>Check <a href="https://www.pedalpalooza.org/">Pedalpalooza.org</a> for updates, follow <a href="https://www.instagram.com/pedalpaloozapdx/">Pedalpalooza on Instagram</a>, and tag posts about rides <strong>@pedalpaloozapdx</strong>!</p>
      {{ end }}

      {{ if eq (.Param "year") 2022 }}
      <div class="donate">
        <p>
          <span>Support Bike Summer</span>
          <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=NQAUFEUSM49ZJ">Donate to Pedalpalooza</a>
        </p>
        <p>
          <span>Support year-round bike fun</span>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=BNL2NY7U8GH3Q" target="_blank" data-content="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=BNL2NY7U8GH3Q" data-type="external" role="button" id="comp-j2nmjo3ulink" class="style-j2nmcorulink"><span id="comp-j2nmjo3ulabel" class="style-j2nmcorulabel">Donate to Shift</span></a>
        </p>
      </div>

      {{ end }}

  </div>
</div>
