<div class="pp-banner">
  <div class="promo-wrapper">
    <a href="/pedalpalooza-calendar/"><img alt="Pedalpalooza" id="pedalpalooza-img" src="/images/pp/pp2025-banner.png" style="width: 160px; height: 90px;"></a>
    <div style="margin: 0 1rem;">
      <p><strong class="pp-headline">Bike Summer is on — June, July, and August!</strong></p>
      <p>Go to the <a href="/pedalpalooza-calendar/">Pedalpalooza calendar</a> and <a href="https://www.bike-summer.org">Bike-Summer.org</a> for more details</p>
    </div>
  </div>

  {{ partial "cal/pp-merch.html" . }}
</div>
