<div class="pp-banner">
  <a href="/images/promo/steptember-banner.png"><img alt="Steptember" id="pedalpalooza-img" src="/images/promo/steptember-banner-small.png" style="max-width: 250px;"></a>
  <p><strong><a href="https://oregonwalks.org/steptember/" target="_blank" title="Opens in a new tab">Steptember</a> is a month of community walking events brought to you by <a href="https://oregonwalks.org/" target="_blank" title="Opens in a new tab">Oregon Walks</a></strong></p>
  <p>Go to Oregon Walks' <a href="https://oregonwalks.org/steptember/" target="_blank" title="Opens in a new tab">Steptember calendar</a> for more details</p>
</div>