{{ if or (eq .Type "calevents") (eq .Type "caledit") (eq .Type "calfestival") }}
  {{ $jsCalHelpers := resources.Get "js/cal/helpers.js" | minify }}
  <script src="{{ $jsCalHelpers.Permalink }}"></script>
  {{ $jsCalMain := resources.Get "js/cal/main.js" | minify }}
  <script src="{{ $jsCalMain.Permalink }}"></script>

  <script src="{{ .Site.BaseURL }}lib/mustache/mustache.min.js"></script>

  {{ partial "cal/dayjs.html" . }}
{{ end }}

<!-- only load FullCal scripts on calendar grid and festival pages; not needed on list or edit pages -->
{{ if or (eq .Type "calgrid") (eq .Type "calfestival") (eq .Type "pp-theme-cal") }}
  <script src="{{ .Site.BaseURL }}lib/fullcalendar/core/main.min.js"></script>
  <script src="{{ .Site.BaseURL }}lib/fullcalendar/daygrid/main.min.js"></script>
  <script src="{{ .Site.BaseURL }}lib/fullcalendar/timegrid/main.min.js"></script>
{{ end }}

<script type="text/javascript">
  function parseURL() {
    var urlParams = {};
    var path = window.location.pathname.split('/');
    var lastPart = path[path.length-1];

    var singleEventRe = /event-([0-9]+)/g;
    var singleEvent = singleEventRe.exec(lastPart);
    if (singleEvent && singleEvent.length === 2) {
      urlParams['eventId'] = parseInt(singleEvent[1]);
    }

    var editEventRe = /edit-([0-9]+)-([0-9a-zA-Z]*)/g;
    var editEvent = editEventRe.exec(lastPart);
    if (editEvent && editEvent.length === 3) {
      urlParams['editId'] = parseInt(editEvent[1]);
      urlParams['editSecret'] = editEvent[2];
    }

    // IE doesn't support URLSearchParams, so IE will
    // skip this block and ignore all URL params
    if (typeof URLSearchParams === "function") {
      var query = new URLSearchParams(location.search);

      if (query.has('startdate')) {
        urlParams['startdate'] = query.get('startdate');
      }
      if (query.has('enddate')) {
        urlParams['enddate'] = query.get('enddate');
      }
      if (query.has('show_details')) {
        urlParams['show_details'] = true;
      }
      if (query.has('view')) {
        if (['day', 'week', 'month'].includes(query.get('view'))) {
          urlParams['view'] = query.get('view');
        }
      }
    }

    return urlParams;
  }
</script>
