Dear {{organizer|safe}},

Thank you for adding your event, {{title|safe}}, to the Shift Calendar. To activate the event listing, you must visit {{url|safe}} and publish it.

This link is like a password. Anyone who has it can delete and change your event. Please keep this email so you can manage your event in the future.

Bike on!

-Shift
