 subject = "Shift2Bikes Secret URL for " . this.getTitle();
     message = "Dear " . this.getName();
     message = message . ", \r\n\r\nThank you for adding your event, " . this.getTitle();
     message = message . ", to the Shift Calendar. To activate the event listing, you must visit " . secret_url . " and publish it.";
     message = message . "\r\n\r\nThis link is like a password. Anyone who has it can delete and change your event. Please keep this email so you can manage your event in the future.";
     message = message . "\r\n\r\nBike on!\r\n\r\n-Shift";
     mail(this.getEmail(), subject, message, headers);
     # send backup copy for debugging and/or moderating
     mail("shift-event-email-archives@googlegroups.com", subject, message, headers);
 }