Dear {{organizer|safe}},

Thank you for adding your event, {{title|safe}}, to the Shift Calendar. To activate the event listing, you must visit the confirmation link below and publish it:

{{url|safe}}

This link is like a password. Anyone who has it can delete and change your event. Please keep this email so you can manage your event in the future.

If you need help with your listing, please refer to {{help|safe}} or email {{support|safe}}.

Bike on!

-Shift
