BEGIN:VCALENDAR
VERSION:2.0
PRODID:{{cal.prod|safe}}
METHOD:PUBLISH
X-WR-CALNAME:{{cal.name|safe}}
X-WR-CALDESC:{{cal.desc|safe}}
X-WR-RELCALID:{{cal.guid|safe}}
{% for evt in events -%}
BEGIN:VEVENT
UID:{{evt.uid|safe}}
{{evt.summary|escapeBreak("SUMMARY")|safe}}
{{evt.contact|escapeBreak("CONTACT")|safe}}
{{evt.description|escapeBreak("DESCRIPTION")|safe}}
{{evt.location|escapeBreak("LOCATION")|safe}}
STATUS:{{evt.status|safe}}
DTSTART:{{evt.start|ical}}
DTEND:{{evt.end|ical}}
CREATED:{{evt.created|ical}}
DTSTAMP:{{evt.modified|ical}}
SEQUENCE:{{evt.sequence|safe}}
URL:{{evt.url|safe}}
END:VEVENT
{% endfor -%}
END:VCALENDAR
{# ends with a new line #}