<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
  <!-- legacycalpage/single.html -->

  <div id="all">
    <header>
      {{ partial "nav.html" . }}
    </header>

    <main>
        {{ partial "breadcrumbs.html" . }}

        <div id="content">
          <div class="container">

            <div class="row">

              <div class="col-md-12">

                <div>
                  {{ if isset .Params "pp" }}
                    <!-- on PP cal page, display full PP header -->
                    {{ partial "cal/pp-header.html" . }}
                    {{ partial "alert_banner.html" . }}
                  {{ else }}
                    <!-- on other cal pages, display smaller banner that links to PP cal page -->
                    <!-- only display when PP is coming soon or happening now -->
                    <!-- {{ partial "cal/pp-promo-banner.html" . }} -->

                    <!-- only display during Steptember -->
                    <!-- {{ partial "cal/promo-banner-steptember.html" . }} -->

                    <!-- alert banner is present, but will be added at the top or bottom conditionally by cal scripts -->
                  {{ end }}

                  {{ .Content }}
                </div>

                <div id="fullcalendar"></div>

                {{ if isset .Params "pp" }}
                  {{ partial "cal/pp-feed.html" . }}
                {{ end }}

                <div id="mustache-html" class="container">

                </div>

                {{ if isset .Params "pp" }}
                  {{ partial "cal/promo-banner-main-cal.html" . }}
                {{ end }}

                {{ partial "disclaimer.html" . }}

              </div>

            </div>
            <!-- /.row -->

          </div>
          <!-- /.container -->
        </div>
        <!-- /#content -->
    </main>

    <footer>

        {{ partial "footer.html" . }}

    </footer>

  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}
  {{ partial "cal/events.html" . }}

  <script type="text/javascript">
    window.legacycal_renderpage = "{{ .Params.id }}";
  </script>

</body>
</html>
