{{ define "page_body" }}
              <div class="col-md-12">

                <div>
                  <!-- when PP is coming soon or happening now, display smaller banner that links to PP cal page -->
                  {{ if .Site.Params.festival.active }}
                    {{ partial "cal/pp-promo-banner.html" . }}
                  {{ end }}

                  <!-- only display during Steptember -->
                  <!-- {{ partial "cal/promo-banner-steptember.html" . }} -->

                  {{ .Content }}
                </div>

                {{ partial "cal/shift-feed.html" . }}

                {{ partial "cal/view-options.html" . }}
                {{ partial "cal/event-list-options" . }}

                <!-- events list -->
                <div id="mustache-html" class="container"></div>

                {{/* always added but only activate for multiple events */}}
                <a id="scrollToTop" class="scrollToTop"></a>

                <button type="button" id="load-more" class="more-events">Show additional events</button>

                {{ partial "alert_banner.html" . }}

                {{ partial "disclaimer.html" . }}

              </div>

{{ end }}
{{ define "postscript" }}
  {{ partial "cal/scripts.html" . }}
  {{ partial "cal/events.html" . }}

  <script type="text/javascript">
    window.cal_renderpage = "{{ .Params.id }}";
  </script>
{{ end }}